<div class="dashboard-container">
  <h2>User Management</h2>

  <button (click)="openCreateModal()" class="main-btn">Add User</button>

  <div class="list-container">
    <app-user-list
      [users]="users()"
      (deleteUser)="deleteUser($event)"
      (editUser)="openEditModal($event)"
    >
    </app-user-list>
  </div>

  <app-create-edit-user
    [isOpen]="isModalOpen"
    [isEditMode]="isEditMode"
    [userModel]="isEditMode ? editUserModel : newUserModel"
    (save)="saveUser($event)"
    (close)="closeModal()"
  ></app-create-edit-user>
</div>
