@if(isOpen){
<div class="modal">
  <div class="modal-content">
    <h3>{{ isEditMode ? "Edit User" : "Add User" }}</h3>
    <form (ngSubmit)="saveUser()" #userForm="ngForm" novalidate>
      @if(isEditMode){
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="modal-username"
          [(ngModel)]="userModel.userName"
          #username="ngModel"
          required
          minlength="3"
        />
        @if(username.invalid && username.touched){
        <div class="error">
          @if(username.errors?.['required']){
          <span>Username is required</span>
          } @else if (username.errors?.['minlength']) {
          <span>Username should be at least 3 characters long</span>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="modal-email"
          [(ngModel)]="userModel.email"
          #email="ngModel"
          required
          email
        />
        @if(email.invalid && email.touched){
        <div class="error">
          @if(email.errors?.['required']){
          <span>Email is required</span>
          } @else if (email.errors?.['email']) {
          <span>Email is invalid</span>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="password">Edit password (Optional)</label>
        <input
          type="password"
          name="password"
          id="modal-password"
          [(ngModel)]="userModel.updatedPassword"
          #password="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="modal-expected-calories">Expected calories per day</label>
        <input
          type="text"
          name="modal-expected-calories"
          id="modal-calories"
          [(ngModel)]="userModel.expectedCaloriesPerDay"
          #exCalories="ngModel"
          required
        />
        @if(exCalories.invalid && exCalories.touched){
        <div class="error">
          @if(exCalories.errors?.['required']){
          <span>Expected Calories is required</span>
          }
        </div>
        }
      </div>
      } @else {
      <div class="form-group">
        <label for="create-username">Username</label>
        <input
          type="text"
          name="create-username"
          id="create-username"
          [(ngModel)]="userModel.userName"
          #createUsername="ngModel"
          required
          minlength="3"
        />
        @if(createUsername.invalid && createUsername.touched){
        <div class="error">
          @if(createUsername.errors?.['required']){
          <span>Username is required</span>
          } @else if (createUsername.errors?.['minlength']) {
          <span>Username should be at least 3 characters long</span>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="create-email">Email</label>
        <input
          type="email"
          name="create-email"
          id="create-email"
          [(ngModel)]="userModel.email"
          #createEmail="ngModel"
          required
          email
        />
        @if(createEmail.invalid && createEmail.touched){
        <div class="error">
          @if(createEmail.errors?.['required']){
          <span>Email is required</span>
          } @else if (createEmail.errors?.['email']) {
          <span>Email is invalid</span>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="create-password">Password</label>
        <input
          type="password"
          name="create-password"
          id="create-password"
          [(ngModel)]="userModel.password"
          #password="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="create-role">Role</label>
        <select
          [(ngModel)]="userModel.role"
          name="create-role"
          id="create-role"
        >
          <option value="User">User</option>
          <option value="User Manager">User Manager</option>
          <option value="Admin">Admin</option>
        </select>
      </div>
      }

      <div class="modal-actions">
        <button type="submit" class="main-btn" [disabled]="userForm.invalid">
          {{ isEditMode ? "Save" : "Add" }}
        </button>
        <button type="button" class="secondary-btn" (click)="closeModal()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
}
